src/webapp-users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by chris Van Lith (B3Partners BV) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="webapp-users">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="role" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="rolename" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="user" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="username" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="password" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="roles" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="maxsessions" type="xs:int" use="optional" default="0"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
